#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=centos
rootpw --iscrypted $6$itThmFjxJ56cKLaU$s9eLIxXv7Ctr5L8AjJDwUDO/Z3eb0.A.nOD/hxkRgzwVIIH76WE.ZH2yd/cEW0ongaejIaa7mW6E3BG8xYkXI0
# System timezone
timezone Europe/Budapest --isUtc
user --groups=wheel --name=vagrant --password=$6$9wxhGeLZUPC2XDUo$ID6rPDn2.V9taoTgiVVLRy5C9Rn7hGkpsa9D.H3NbF754ds1uS1hAAIrUkbl2lQtJ3Nv0/MBPvgodkMvvAoJ// --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post
yum update -y
yum install -y libselinux-python
sed -i "s/^%wheel/# %wheel/" /etc/sudoers
sed -i "/^# %wheel.*NOPASSWD: ALL/s/^# //" /etc/sudoers
sed -i "s/^\(.*requiretty\)$/#\1/" /etc/sudoers
%end

reboot
